*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
body{
    background-color: aliceblue;
    font-size: 1.2em;
}

/* start nav */
nav{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    background-color: black;
    color: aliceblue;
    padding: 0 1%;

}
nav div{
    text-align: center;
    padding: 1% 0;
    width: 20%;
    
}
nav div h1{
    display: inline-block;
    margin-left: 1%;
    font-size: 1.5rem;
    font-weight:150%;
}
nav div h1:hover{
    color: aqua;  
}

nav ul{
    display: flex;
    width: 70%;
    font-weight: bold;
}
nav ul li{
    list-style-type: none;
    margin:2% 4%;
    transition: all ease 1s;
}
nav ul li:hover{
     color: aqua;
    transform: translate(10px);
    border-bottom: 2px solid aqua;
}

/* end nav */
/* start header */
header{
    background-image: url(../img/banner.jpg);
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 8% 0;
    color: aliceblue;
}
.head-content{
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;
}
.head-content h1{
    margin: 1.5%;
}
.head-content p{
    padding: 3% 10%;
    text-align: center;
}
.cont{
    width: 100%;
    text-align: center;
}
.head-content button{
    padding: 0.5% 3%;
    margin: 0 2%;
    background-color: transparent;
    border: 2px solid aqua;
    color: aliceblue;
    font-size: 1.1rem;
    font-weight: bold;
    transition: all ease 1s;  
}
.head-content button:hover{
    background-color: #00b3b3;
    transform: scale(1.2);
}
header img{
    width: 50%;
}
header .spinnar-parent{
    width: 100%;
    margin-top: 4%;
    text-align: center;  
}
header .spinner {
    margin: auto;
    width: 30px;
    height: 66px;
    border-radius: 10px;
    background-color: black;
    position: relative;
}

header .spinner-cricle{
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: aliceblue;
    border-radius: 50%;
    position: absolute;
    top: 8px;
    left: 10px;
    animation: load 0.5s ease 0.5s infinite alternate;
}

@keyframes load {
  0%  {top: 8px;}
  10% {top: 12px;}
  20% {top: 16px;}
  30% {top: 20px;}
  40% {top: 24px;}
  50% {top: 28px;}
  60% {top: 32px;}
  70% {top: 36px;}
  80% {top: 40px;}
  90% {top: 44px;}
  100% {top: 48px;}

}
/* end header */
/* start products section */
.products-section{
    padding: 6%;
    text-align: center;
}
.products-section .title {
    border-bottom: 3px solid aqua;
    font-size: 2rem;
    font-weight: bold;
}
.products{
    margin-top: 6%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.product-cart{
    text-align: left;
    display: flex;
    flex-direction: column;
    width:24%;
    padding: 1% 4%;
    margin-top: 2%;
    border: 2px solid #DDD;
    box-shadow: 3px 3px aqua;
    border-radius: 15px;
    position: relative;
    overflow: hidden;
}
.product-cart .desc{
    padding: 2% 5%;
    margin: 2% 0;
}
.product-cart span{
    color: red;
}
.product-cart .buy{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    padding-top: 80px;
    padding-left: 50px;
    background-color: #1a75ff;
    color: aliceblue;
    font-weight: bold;
    position: absolute;
    bottom: -1000px;
    right: -1000px;
    transition: all ease 0.7s;
}
.product-cart:hover .buy{
    bottom: -50px;
    right: -50px; 
}
.product-cart img {
    transition: all ease 1s;
}
.product-cart:hover img {
    transform: scale(1.1);
}

/* end products section */
/* start footer */
footer{
    background-image: url(../img/footer.jpg);
    background-size: cover;
    color: aliceblue;
    padding: 4% 6%;
    display: flex;
    justify-content: space-around;
    
}
footer iframe {
    width: 40%;
}
footer .form-data{
    width: 40%;
    text-align: center;
}
.form-data span{
    border-bottom: 2px solid #FFF;
    font-size: 1.7rem;
    font-weight: bold;
    display: inline-block;
    margin: 4% 0;
}
.form-data form {
    display: flex;
    flex-direction: column;
    padding: 2%;
    border: 1px solid aliceblue;
    border-radius: 15px;
}
form input,form textarea{
    background-color: transparent;
    color: aliceblue;
    margin:2% 0;
    border: 1px solid aliceblue;
    padding: 2%;
    border-radius: 15px;

}
form textarea{
    height: 100px;
}

form button{
    width: 30%;
    padding: 1.5%;
    background-color: #00b3b3;
    border-radius: 15px;
    color: aliceblue;
    font-weight: bold;
    margin-left: 33%;
}

/* end footer */

@media only screen and (max-width: 767px) {
    /* for mobile */
    
/* start nav */
nav{
    flex-direction:column;
}
nav div{
    text-align: center;
    width: 100%;
    
}
nav ul{
    flex-direction: column;
  
    }
nav ul li:hover{
    border-bottom: none;
}
/* end nav */
    /* start header */
header{
  flex-direction: column; 
}
.head-content{
    width: 100%;
}
header img{
    width: 90%;
    margin-top:2%;
}
/* end header */
/* start products section */
.products{
    flex-direction: column;
}   
.product-cart{
    width:100%;
    padding: 1% 4%;
    }
/* end products section */    
/* start footer */
footer{
flex-direction: column; 
}
footer iframe {
    width: 90%;
}
footer .form-data{
    width: 90%;
}
/* end footer */    
        
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    /* start products section */
.products{
    flex-direction: row;
}   
.product-cart{
    width:49%;
    }
/* end products section */ 
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .product-cart{
    width:calc(96%/3);
    }
}


/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .product-cart{
    width:calc(96%/4);
    }
}
